<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whs.oj.admin.mapper.ResourceDoMapper">

    <resultMap id="BaseResultMap" type="com.whs.oj.admin.domain.ResourceDo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,create_user,
        update_time,update_user,name,
        url,status,sort
    </sql>
    <select id="findSecurityMetadata" resultType="com.whs.oj.admin.api.Metadata">
        SELECT s.url AS resource_url, r.code AS role_code
        FROM sys_role r, sys_resource s, sys_role_resource rs
        WHERE r.id=rs.role_id AND s.id=rs.resource_id
    </select>
</mapper>
