<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whs.oj.admin.mapper.RoleDoMapper">

    <resultMap id="BaseResultMap" type="com.whs.oj.admin.domain.RoleDo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,create_user,
        update_time,update_user,code,
        name
    </sql>
    <select id="findRolesByUserId" resultType="java.lang.String">
         SELECT r.code
        FROM sys_role r, sys_user_role ur
        WHERE r.id=ur.role_id AND ur.user_id = #{userId}
    </select>
</mapper>
